
.DS_Store
Week01_Global_Elevation/reading/.ipynb_checkpoints/map_projection_intro-checkpoint.ipynb
Week00_Birthquake_intro/.ipynb_checkpoints/W0_assignment_birthquake_map-checkpoint.ipynb
Week01_Global_Elevation/.ipynb_checkpoints/W1_inclass-checkpoint.ipynb
